body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}

nav {
    justify-content: space-between;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-right: 10px;
    display: inline;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

aside {
    width: 25%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

main {
    flex-direction: column;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 24px;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    flex-shrink: 0;
}
